:root {
    --box-color: #121212;
    --bg-color: black;
    --text-color: #a9a3a3;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
}

span {
    color: var(--text-color);
    transition: all .3s ease;
}

span:hover {
    color: #ffffff;
    transition: all .3s ease-in;
}

.left,
.right {
    margin: 6px;
    border: 1px solid white;
}

/*Provide a border color for better visibility*/

.left {
    width: 25vw;
    height: 100vh;
}

.right {
    width: 75vw;
    height: 100vh;
}

.home,
.library {
    width: 100%;
}

.home {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--box-color);
}



.hm,
.sc {

    margin: 10px;
    padding: 10px;
    width: 90%;
}


.hm img,
.sc img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    display: block;
    vertical-align: middle;
}

.hm span,
.sc span {
    display: inline-block;
    vertical-align: middle;
    /* Ensure vertical alignment */
    line-height: 24px;
}

.hm,
.sc>img,
span:hover {
    cursor: pointer;
}

.library {
    height: 80vh;
    width: 100%;
    margin-top: 5px;
    background-color: var(--box-color);
}

.lib {
    margin: 10px;
    padding: 10px;
    max-width: 50%;
    display: inline-block;
    vertical-align: middle;
    /* Ensure vertical alignment */
    line-height: 24px;
    gap: 12px;
}

.my-lib {
    width: 20vw;
    display: flex;
    justify-content: space-between;
}

.ico {
    margin: 10px;
    padding: 10px;
    width: 30%;
    /* display: flex; */
    justify-content: flex-end;
    gap: 0.6rem;
}

.ico img:hover {
    cursor: pointer;
}


.capsule {
    height: 1.6rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin: 10px;
    padding: 10px;
    /* border: 1px solid whitesmoke; */
    text-align: center;
    background-color: #232323;
}

.capsule span {
    flex-wrap: wrap;
}

.playlist {
    height: 62vh;
    margin: 6px;
    width: 96%;
}

.item{
    margin: 6px;
    width: 90%;
    height: 12%;
    width: 95%;
    transition: all 0.3s ease;
    /* padding: 3px; */
}

.item:hover{
    background-color: #232323;
    transition: all 0.3s ease;
}
.pl-img{
    margin: 10px;
    width: 17%;
    /* padding: 3px; */
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 80%;
}

.pl-img img{
    border-radius: 3px;
}

.pl-text{
    margin: 10px;
    width: 15vw;
    padding: 3px;
    text-align: center;
    padding-top: 8px;
}

span.pl-sp-bl{
    font-weight: 600;
    font-size: 16px;
}
span.pl-sp-li{
    font-weight: 300;
}