* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.left,
.right {
    margin: 6px;
    border: 1px solid white;
}
/*Provide a border color for better visibility*/

.left {
    width: 25vw;
    height: 100vh;
}

.right {
    width: 75vw;
    height: 100vh;
}

.home,
.library {
    width: 100%;
}

.home {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    border-radius: 12px;
    text-align: center;
}

.library {
    height: 80vh;
}

.hm,
.sc {

    margin: 10px;
    padding: 10px;
    width: 90%;
}


.hm img,
.sc img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    display: block;
    vertical-align: middle;
}

.hm span,
.sc span {
    display: inline-block;
    vertical-align: middle;
    /* Ensure vertical alignment */
    line-height: 24px;
}